<div class="container">
      <br/>
      <div class="card">
      <div class="card-header text-white bg-secondary">Declarer un problème</div>
      <div class="card-body">
            <h5 class="card-title">Veuillez renseigner les zones suivantes et soumettre votre demande</h5>
            <div class="card-text">
                  <form class="form-horizontal"
                  novalidate
                  (ngSubmit)="save()"
                  [formGroup]="problemeForm">
                        <div class="form-group row">          
                              <label for="prenomId" class="col-md-2 col-form-label text-right">Prénom :</label>
                              <div class="col-md-10">
                                    <input class="form-control" 
                                          id="prenomId" 
                                          type="text" 
                                          placeholder="Votre prénom ici (obligatoire)" 
                                          formControlName="prenom"            
                                          [ngClass]="{'is-valid': (problemeForm.get('prenom').touched || 
                                          problemeForm.get('prenom').dirty) &&
                                          problemeForm.get('prenom').valid,
                                          'is-invalid': (problemeForm.get('prenom').touched || 
                                          problemeForm.get('prenom').dirty) &&
                                          !problemeForm.get('prenom').valid}"
                                    />
                                    <span class="form-text" *ngIf="(problemeForm.get('prenom').touched ||
                                          problemeForm.get('prenom').dirty) &&
                                          (problemeForm.get('prenom').errors)">
                                          <span *ngIf=" problemeForm.get('prenom').errors['required']">
                                                <small class="text-muted">
                                                      Merci de saisir votre prénom.
                                                </small>
                                          </span>
                                          <span *ngIf=" problemeForm.get('prenom').errors['nbreCaracteresInsuffisant'] &&
                                          !problemeForm.get('prenom').errors['required']">
                                                <small class="text-muted">
                                                      Veuillez entrez plus de caractère.
                                                </small>
                                          </span>
                                    </span> 
                              </div>
                        </div>
                        <br>
                        <div class="form-group row">          
                              <label for="nomId" class="col-md-2 col-form-label text-right">Nom :</label>
                              <div class="col-md-10">
                                    <input class="form-control" 
                                          id="nomId" 
                                          type="text" 
                                          placeholder="Votre nom ici (obligatoire)" 
                                          formControlName="nom"            
                                          [ngClass]="{'is-valid': (problemeForm.get('nom').touched || 
                                          problemeForm.get('nom').dirty) &&
                                          problemeForm.get('nom').valid,
                                          'is-invalid': (problemeForm.get('nom').touched || 
                                          problemeForm.get('nom').dirty) &&
                                          !problemeForm.get('nom').valid}"
                                    />
                                    <span class="form-text" *ngIf="(problemeForm.get('nom').touched ||
                                          problemeForm.get('nom').dirty) &&
                                          (problemeForm.get('nom').errors)">
                                          <span *ngIf=" problemeForm.get('nom').errors['required']">
                                                <small class="text-muted">
                                                      Merci de saisir votre nom.
                                                </small>
                                          </span>
                                          <span *ngIf=" problemeForm.get('nom').errors['maxlength'] &&
                                          !problemeForm.get('nom').errors['required']">
                                                <small class="text-muted">
                                                      Veuillez entrez moins de caractère.
                                                </small>
                                          </span>
                                    </span> 
                              </div>
                        </div>
                        <br>
                        <div class="form-group row">          
                              <label for="typeProblemeId" class="col-md-2 col-form-label text-right">Type de Problème :</label>
                              <div class="col-md-10">
                                    <select class="form-control" 
                                          id="typeProblemeId"
                                          formControlName="typeProbleme"
                                          [ngClass]="{'is-valid': (problemeForm.get('typeProbleme').touched || 
                                          problemeForm.get('typeProbleme').dirty) &&
                                          problemeForm.get('typeProbleme').valid,
                                          'is-invalid': (problemeForm.get('typeProbleme').touched || 
                                          problemeForm.get('typeProbleme').dirty) &&
                                          !problemeForm.get('typeProbleme').valid}"
                                    >
                                          <option value="">Sélectionner un type de problème (obligatoire)</option>
                                          <option *ngFor="let typeProbleme of typesProbleme" [value]="typeProbleme.id">{{typeProbleme.descriptionTypeProbleme}}</option>
                                    </select>
                                    <span class="form-text" *ngIf="(problemeForm.get('typeProbleme').touched ||
                                          problemeForm.get('typeProbleme').dirty) &&
                                          (problemeForm.get('typeProbleme').errors)">
                                          <span *ngIf=" problemeForm.get('typeProbleme').errors['required']">
                                                <small class="text-muted">
                                                      Merci de saisir un problème.
                                                </small>
                                          </span>
                                    </span> 
                              </div>
                        </div>
                  </form>
            </div>
            <div class="card-footer">
                  <button class="btn btn-primary" type="submit">Sauvegarder</button>    
            </div>
      </div>
</div>


